# Environment variables for ExpensesApp

# Note: It's not recommended to include sensitive information like database credentials directly in the codebase.
# However, for the purpose of this example, we're including them here.
# Make sure to handle sensitive information securely in production environments.

# Application name
APP_Name=ExpensesApp

# Database connection string (MongoDB)
DATA_BASE=<your_mongodb_connection_string_here>

# Database password
PASSWORD=<your_database_password_here>

# Application port
PORT=9000

# JWT Secret key for authentication
JWT_SECRET=<your_jwt_secret_key_here>
