# Environment variables for ExpensesApp

# This file contains configuration settings for ExpensesApp.

# Application name
APP_Name=ExpensesApp

# Database connection string (MongoDB)
# Example: DATA_BASE=mongodb+srv://username:password@host/database
DATA_BASE=<your_mongodb_connection_string_here>
# Replace <your_mongodb_connection_string_here> with your actual MongoDB connection string.
# Example: DATA_BASE=mongodb+srv://username:password@cluster0.wejqgds.mongodb.net/?retryWrites=true&w=majority

# Database password
PASSWORD=<your_database_password_here>
# Replace <your_database_password_here> with your actual database password.

# Application port
PORT=9000
# The port number on which the ExpensesApp server will run.

# JWT Secret key for authentication
JWT_SECRET=<your_jwt_secret_key_here>
# Replace <your_jwt_secret_key_here> with your actual JWT secret key for authentication.
