# Environment variables for ExpensesApp

# This file contains configuration settings for ExpensesApp.

# Application name
APP_Name=ExpensesApp

# Database connection string (MongoDB)
# Example: DATA_BASE=mongodb+srv://username:password@host/database
# Replace <your_mongodb_connection_string_here> with your actual MongoDB connection string.
DATA_BASE=<your_mongodb_connection_string_here>
# For example:
# DATA_BASE=mongodb+srv://username:<password>@cluster0.wejqgds.mongodb.net/?retryWrites=true&w=majority

# Database password
# Replace <your_database_password_here> with your actual database password.
PASSWORD=<your_database_password_here>

# Application port
# The port number on which the ExpensesApp server will run.
PORT=9000

# JWT Secret key for authentication
# Replace <your_jwt_secret_key_here> with your actual JWT secret key for authentication.
JWT_SECRET=<your_jwt_secret_key_here>
